.container {
    height: 85vh;
    display: flex;
    align-items: end;
    justify-content: center;
}


.card {
    background: #ffffff;
    margin: auto;
    max-width: 425px;
    width: 100%;
    border: 3px solid #7e573b;
    border-radius: 25px;
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody {
    margin-top: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cardBody h2{
    font-size: 25px;
}

.cardBody p{
    font-size: 18px;
}

.theme{
    display: flex;
    flex-direction: column;
    align-items: center;
}


